* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    div.logo {
        font-size: 20px;
        font-weight: bold;
        color: #a855f7;
    }
    .navbar{
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: 15px 40px;
        border-bottom: 1px solid #222;
    }

    body{    
        font-family: "Segoe UI", Arial, sans-serif;
        background: #000000;
        color: #e5e5e5;
    }

    img.emoji{
        display: block;
        width: auto;
        height: 400px;
        margin: 0 auto;
    }
    .title{
        color: #9333ea;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 15px;
        font-size: 40px;
    }

    b{
        font-size: 17px;
    }

    p.text{
        color: white;
        text-rendering: auto;
        font-size: 15px;
        margin: 30px;
    }

    .text{
        color: white;
        text-rendering: auto;
        font-size: 15px;
        margin: 20px;
        margin-left: 30px;
    }

    a{
        color: white;
    }

    a.logo{
        color: #a855f7;
        text-decoration: none;

    }

    .navbar{     
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        background: #0a0a0a;
        border-bottom: 1px solid #222;
    }
    .navbar .homes {
        list-style: none;
        display: flex;
        gap: 25px;
      }
      
      .navbar .homes li a {
        text-decoration: none;
        color: #bbb;
        font-weight: 500;
        transition: color 0.3s;
        justify-content: space-between;
      }
      
      .navbar .homes li a:hover {
        color: #a855f7;
      }