body {
  font-family: Arial, sans-serif;
  background-color: #11011b;
  margin: 0;
  padding: 20px;
  color: #333;
}
header {
  text-align: center;
  padding: 20px 0;
  background-color: #9b59b6;
  color: rgb(83, 4, 119);
  margin-bottom: 30px;
}
h1 {
  margin: 0;
}
.courses-container {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 20px;
}
.course-card {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course-card h3 {
  margin-top: 0;
  color: #9b59b6;
}
.course-card p {
  flex-grow: 1;
}
.price {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 15px;
  color: #27ae60;
}
.price.paid {
  color: #c0392b;
}
.btn-enroll {
  background-color: #9b59b6;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  display: block;
}
footer {
  text-align: center;
  margin-top: 50px;
  color: #777;
  font-size: 0.9em;
}
