body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f3e9ff;
}

#card {
    background: white;
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.option {
    padding: 15px;
    margin: 10px;
    background: #b869d8;
    color: white;
    border: none;
    width: 90%;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
}

.option:hover {
    background: #a455cb;
}
